{% extends "core/base.html" %}

{% block title %}Accueil - Mon Portfolio{% endblock %}

<!-- TODO : Reprendre la page d'accueil pour la personnaliser -->

{% block content %}

<div class="container mt-5 text-center">
    <!-- Section d'introduction -->
    <header class="mb-4">
        <h1>Bonjour, je suis [Ton Nom]</h1>
        <p class="lead">Développeur, Data Scientist, [autres compétences]...</p>
    </header>

    <!-- Section Projets ou Compétences en vedette -->
    <section class="mb-4">
        <h2>Projets en vedette</h2>
        <p>Découvrez certains des projets sur lesquels j'ai travaillé récemment.</p>
        <!-- Tu peux ajouter ici des cartes ou des images liées à tes projets -->
    </section>

    <!-- Appel à l'action -->
    <section class="mb-4">
        <h2>Intéressé(e) par mon travail ?</h2>
        <!-- TODO : modifier une fois les applications ajoutées -->
        <p>N'hésitez pas à <a href="{% url 'core:under_construction' %}">me contacter</a> ou à consulter mon <a href="{% url 'core:under_construction' %}">portfolio complet</a>.</p>

    </section>
</div>
{% endblock %}

</html>