<div class="cv-container">
    <div class="container">
        <!-- Sidebar content -->
        <div class="sidebar">
            <!-- Informations personnelles -->
            <section id="personal-info">
                <img src="{{ cv.personal_info.profile_picture.url }}" alt="{{ cv.personal_info.full_name }}" width="100" class="profile-image">
                <h2>{{ cv.personal_info.full_name }}</h2>

                <!-- TODO : ajouter logos -->
                <p>{{ cv.personal_info.address }}</p>
                <p>Téléphone : {{ cv.personal_info.phone }}</p>
                <p>Email : {{ cv.personal_info.email }}</p>
                {% if cv.personal_info.portfolio_url %}
                <p>Portfolio : <a href="{{ cv.personal_info.portfolio_url }}">Link</a></p>
                {% endif %}
                {% if cv.personal_info.linkedin_url %}
                <p>LinkedIn : <a href="{{ cv.personal_info.linkedin_url }}">Link</a></p>
                {% endif %}
                {% if cv.personal_info.github_url %}
                <p>GitHub : <a href="{{ cv.personal_info.github_url }}">Link</a></p>
                {% endif %}
            </section>

            <!-- Compétences -->
            <section id="skills">
                <h2>Compétences</h2>
                <h3>Compétences techniques</h3>
                <ul class="skill-list">
                    {% for skill in cv.get_hard_skills %}
                    <li>{{ skill.name }}</li>
                    {% endfor %}
                </ul>
                <h3>Compétences humaines</h3>
                <ul class="skill-list">
                    {% for skill in cv.get_soft_skills %}
                    <li>{{ skill.name }}</li>
                    {% endfor %}
                </ul>
            </section>

            <!-- Langues -->
            <section id="languages">
                <h2>Langues</h2>
                <ul>
                {% for language in cv.languages.all %}
                    <li>{{ language.name }} : {{ language.proficiency }}</li>
                {% endfor %}
                </ul>
            </section>

            <!-- Loisirs -->
            <section id="hobbies">
                <h2>Loisirs et centres d'intérêt</h2>
                <ul>
                {% for hobby in cv.hobbies.all %}
                    <li>
                        <h3>{{ hobby.name }}</h3>
                        {% if hobby.description %}
                        <p>{{ hobby.description }}</p>
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
            </section>
        </div>

        <!-- Main content -->
        <div class="main-content">
            <!-- Profil -->
            <section id="profile">
                <h2>Profil</h2>
                <p>{{ cv.profile.description }}</p>
            </section>

            <!-- Expériences professionnelles -->
            <section id="experience">
                <h2>Expériences professionnelles</h2>
                <ul>
                {% for experience in cv.experiences.all %}
                    <li>
                        <h3>{{ experience.position }} chez {{ experience.company }}</h3>
                        <p>{{ experience.start_date }} - {{ experience.end_date|default:"Actuel" }}</p>
                        <p>{{ experience.responsibilities }}</p>
                    </li>
                {% endfor %}
                </ul>
            </section>

            <!-- Éducation -->
            <section id="education">
                <h2>Éducation</h2>
                <ul>
                {% for education in cv.educations.all %}
                    <li>
                        <h3>{{ education.degree }} à {{ education.institution }}</h3>
                        <p>{{ education.start_date }} - {{ education.end_date|default:"Actuel" }}</p>
                        {% if education.details %}
                        <p>{{ education.details }}</p>
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
            </section>

            <!-- Projets -->
            <section id="projects">
                <h2>Projets</h2>
                <ul>
                {% for project in cv.projects.all %}
                    <li class="project-item">
                        <h3>{{ project.title }}</h3>
                        <p>{{ project.description }}</p>
                        {% if project.link %}
                        <p><a href="{{ project.link }}">Voir le projet</a></p>
                        {% endif %}
                        <p>Compétences utilisées :</p>
                        <ul>
                        {% for skill in project.skills_used.all %}
                            <li>{{ skill.name }}</li>
                        {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
                </ul>
            </section>

            <!-- Certifications -->
            <section id="certifications"><h2>Certifications</h2>
                <ul>
                {% for certification in cv.certifications.all %}
                    <li>
                        <h3>{{ certification.title }}</h3>
                        <p>Organisation : {{ certification.issuing_organization }}</p>
                        <p>Date de réception : {{ certification.date_received }}</p>
                        {% if certification.link %}
                        <p><a href="{{ certification.link }}">Voir la certification</a></p>
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
            </section>
        </div>
    </div>
</div>