{% extends "core/base.html" %}
{% load static %}

{% block title %}CV{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'core/css/card.css' %}">
{% endblock %}
{% block content %}
    <h1>CV{% if cvs|length > 1 %}s{% endif %}</h1>
    <p>Je propose plusieurs CVs adaptés à différents postes. Veuillez choisir celui qui vous convient le mieux :</p>
    <section>
        {% for cv in cvs %}
            <a class="card" href="{% url 'cv:detail' cv.slug %}">
                <div class="card-content">
                    <h5>{{ cv.title }}</h5>
                    <p>Cliquez pour voir le CV détaillé pour le poste de {{ cv.title }}.</p>

                </div>
            </a>
        {% endfor %}
    </section>
{% endblock %}
