<nav>
    <a class="logo" href="{% url 'core:home' %}">Les 4 saisons</a>
    <!-- TODO : Remplacer par le logo -->
    <!-- TODO : refaire le collapse
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    -->

    <div id="navbarNav">
        <ul>
            <li>
                <a href="{% url 'core:home' %}">Accueil</a>
            </li>
            <li>
                <a href="{% url 'contact:form' %}">Contact</a>
            </li>
            <li >
                <a href="{% url 'core:about' %}">A propos</a>
            </li>
        </ul>
    </div>
</nav>
