/* variables.css */

:root {
    /* Color Palette */
    --primary-color: #122A35;        /* Deep blue */
    --secondary-color: #2C5D72;      /* Slightly lighter shade of blue */
    --accent-color: #D22809;         /* An accent color, e.g., a bright red */
    --background-color: #ECF0F1;     /* General background color */
    --text-color: #1D2226;           /* General text color */
    --text-light: #4B737F;           /* Light text color, for use on dark backgrounds */

    /* Fonts */
    --font-base: 'Helvetica Neue', sans-serif;          /* Default font */
    --font-heading: 'Helvetica Neue', sans-serif;       /* Optional different font for headings, replace if desired */

    /* Spacing */
    --space-xxs: 4px;
    --space-xs: 8px;
    --space-sm: 16px;
    --space-md: 24px;
    --space-lg: 32px;
    --space-xl: 48px;
    --space-xxl: 64px;

    /* Border radius */
    --border-radius: 8px;
}
