{% extends "core/base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Contactez-moi</h1>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <p class="mb-4">
                Si vous avez des questions, des préoccupations ou souhaitez discuter d'une opportunité, n'hésitez pas à remplir le formulaire ci-dessous. Je reviendrai vers vous dès que possible.
            </p>

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-primary" value="Envoyer"/>
            </form>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Mes Coordonnées</h4>
                    <p><i class="fas fa-envelope"></i> <a href="mailto:{{ personal_info.email }}">{{ personal_info.email }}</a></p>
                    <p><i class="fas fa-phone"></i><a href="tel:{{ personal_info.phone }}">{{ personal_info.phone }}</a></p>
                    <p><i class="fab fa-linkedin"></i> <a href="{{ personal_info.linkedin }}" target="_blank">LinkedIn</a></p>
                    <p><i class="fab fa-github"></i> <a href="{{ personal_info.github }}" target="_blank">GitHub</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
