{% extends "core/base.html" %}
{% load static %}

{% block title %}Contact{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'core/css/formulaire.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/card.css' %}">
    <link rel="stylesheet" href="{% static 'contact/css/index.css' %}">
{% endblock %}

{% block content %}
<div>
    <h1>Contactez-moi</h1>
    <p>
        Si vous avez des questions, des préoccupations ou souhaitez discuter d'une opportunité,
        n'hésitez pas à remplir le formulaire ci-dessous. Je reviendrai vers vous dès que possible.
    </p>
    <div class="contact-wrapper">
        <section class="contact-form">
            <form class="form-container" method="post">
                {% csrf_token %}
                {{ form.email.label_tag }} {{ form.email }}
                {{ form.subject.label_tag }} {{ form.subject }}
                {{ form.message.label_tag }} {{ form.message }}
                <div class="checkbox-wrapper">
                    <input type="checkbox" name="{{ form.consent_given.name }}" id="{{ form.consent_given.id_for_label }}" required>
                    <label for="{{ form.consent_given.id_for_label }}">
                        J'accepte que les informations que j'ai fournies soient utilisées exclusivement
                        pour répondre à ma demande et conformément à la
                        <a href="{% url 'core:under_construction' %}" target="_blank">politique de confidentialité</a>
                        de ce site.
                    </label>
                </div>
                <!-- TODO : régler le problème de pointeur qui ne change pas -->
                <div class="button-wrapper">
                    <input class="btn btn-outline-primary" type="submit"  value="Envoyer"/>
                </div>
            </form>
        </section>

        <section class="contact-card">
            <div class="contact-content">
                <div class="contact-info">
                    <h4 class="contact-title">Mes Coordonnées</h4>
                    <p class="contact-item">
                        <a href="mailto:{{ personal_info.email }}">
                            <i class="contact-icon fas fa-envelope"></i>
                            {{ personal_info.email }}
                        </a>
                    </p>
                    <p class="contact-item">
                        <a href="tel:{{ personal_info.phone }}">
                            <i class="contact-icon fas fa-phone"></i>
                            {{ personal_info.phone }}
                        </a>
                    </p>
                    <p class="contact-item">
                        <a href="{{ personal_info.linkedin }}" target="_blank">
                            <i class="contact-icon fab fa-linkedin"></i>
                            LinkedIn
                        </a>
                    </p>
                    <p class="contact-item">
                        <a href="{{ personal_info.github }}" target="_blank">
                            <i class="contact-icon fab fa-github"></i>
                            GitHub
                        </a>
                    </p>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}
