{% extends "core/base.html" %}
{% load static %}

{% block title %}Portfolio{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'core/css/card.css' %}">
{% endblock %}
{% block content %}
    <h1 class="mb-4">Mon Portfolio</h1>
    <p>Découvrez certains des projets sur lesquels j'ai travaillé.</p>

    <section>
        {% for project in projects %}
            <a class="card" href="{% url 'portfolio:detail' project.slug %}">
                {% if project.image %}
                    <img src="{{ project.image.url }}" alt="{{ project.title }}" class="card-img-top">
                {% endif %}
                <div class="card-content">
                    <h5>{{ project.title }}</h5>
                    <p>{{ project.description|truncatechars:100 }}</p>
                </div>
            </a>
        {% endfor %}
    </section>

{% endblock %}
