{% extends "core/base.html" %}

{% block title %}Politique de confidentialité{% endblock %}

{% block content %}
<div>
    <h1>Politique de Confidentialité</h1>
    <section>
        <h2>Introduction</h2>
        <p>
            La protection de votre vie privée est importante pour nous.
            Cette politique de confidentialité vise à vous informer sur la manière
            dont vos données personnelles sont traitées lorsque vous interagissez avec mon portfolio.
        </p>
    </section>
    <section>
        <h2>Collecte des informations</h2>
        <p>
            Les seules informations que nous collectons proviennent des formulaires que vous pourriez remplir,
            tels que le formulaire de contact. Les informations recueillies peuvent
            inclure votre adresse e-mail.
        </p>
    </section>

    <section>
        <h2>Utilisation des informations</h2>
        <p>
            Les informations que vous fournissez sont utilisées
            uniquement pour répondre à vos demandes ou commentaires.
        </p>
    </section>

    <section>
        <h2>Protection des informations</h2>
        <p>
            Nous mettons en place des mesures de sécurité pour garantir la protection
            de vos informations personnelles. Ces informations ne sont accessibles
            qu'à la personne qui vas vous répondre et ne sont utilisées que dans le but de répondre à vos demandes.
        </p>
    </section>

    <section>
        <h2>Cookies</h2>
        <p>
            Ce site utilise un cookie essentiel pour des raisons de
            sécurité : le CSRF token. Ce cookie est nécessaire pour garantir
            que les formulaires soumis sur le site proviennent bien du site
            lui-même et non d'une source tierce malveillante. Il ne contient
            aucune information personnelle et est uniquement utilisé à des fins de sécurité.
        </p>
    </section>

    <section>
    <h2>Consentement</h2>
        <p>
            En naviguant sur ce site, vous consentez à cette politique de confidentialité.
        </p>
    </section>
</div>
{% endblock %}
