{% extends "core/base.html" %}

{% block title %}Prestations{% endblock %}


{% block content %}
    <div>
        <h1>Accueil de jour</h1>
        <h2>Qu'est ce que l'accueil de jour en maison de retraite ?</h2>
        <p>
            L’accueil de jour en EHPAD permet aux personnes âgées de plus de 60 ans et vivant à domicile,
            d’être accueillies d’une demi-journée à plusieurs journées par semaine.
            Des espaces sont dédiés à cet accueil et permettent aux personnes de bénéficier
            de services et d’activités stimulantes, encadrés par une équipe de  professionnels du soin.
            Cette solution favorise le maintien à domicile et prévient l’isolement social.
        </p>

        <h2>A qui s’adresse l’accueil de jour en EHPAD? </h2>
        <p>
            L’accueil de jour, proposé dans une entité annexe à la maison de retraite (ehpad) est un accueil à
            la carte pour les personnes de plus de 60 ans vivant à leur domicile. Il s’adresse principalement
            aux personnes souffrant de la maladie d’Alzheimer ou maladies apparentées, maladie de Parkinson
            mais également aux personnes en perte d’autonomie physique, qui sont désireuses et en capacité de
            bénéficier d’un projet de soutien (capacité d’attention, capacité à
            participer aux activités proposées, etc.).
        </p>

        <h2>Pourquoi bénéficier de l'accueil de jour ?</h2>
        <p>
            Cet accueil vous permettra de :
            <ul>
                <li>
                    Soutenir et entretenir vos capacités physiques et cognitives, permettant de conserver votre
                    autonomie et rester plus longtemps à votre domicile.
                </li>
                <li>
                    Rompre l’isolement, rythmer votre semaine et favoriser le lien social.
                </li>
                <li>
                    Allouer un moment de répit à vos aidants.
                </li>
                <li>
                    Vous appuyer sur un réseau de professionnels compétents et bienveillants.
                </li>
            </ul>
        </p>
    </div>
{% endblock %}
