{% extends "core/base.html" %}

{% block title %}Prestations{% endblock %}


{% block content %}
    <div>
        <h1>Accueil en situation d'urgence</h1>
        <h2>L'assurance d'une réponse rapide et adaptée</h2>
        <p>
            L’entrée en maison de retraite médicalisée peut être une décision mûrement réfléchie mais elle peut
            aussi s’imposer à vous du jour au lendemain. Problèmes de santé, absence d’un aidant, hospitalisation...
            les évènements imprévisibles jalonnent la vie.
        </p>
        <p>
            Nous avons donc prévu un dispositif pour répondre aux exigences de l’accueil en urgence des personnes
            âgées en Ehpad. La Maisons de retraite médicalisées Les 4 Saisons vous apporteront toujours une solution
            rapide et adaptée, pour un accueil en court ou long séjour dans les meilleurs délais.
        </p>
    </div>
{% endblock %}
