{% extends "core/base.html" %}

{% block title %}Prestations{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}
    <div>
        <h1>Séjour permanent</h1>
        <h2>Qu’est-ce que l’hébergement permanent en EHPAD ?</h2>
        <h3>A qui s’adresse l’hébergement permanent ?</h3>
        <p>
            L’accueil permanent en EHPAD est une solution adaptée quand le maintien à domicile
            d’une personne âgée dépendante n’est plus possible. L’hébergement permanent s’envisage
            dès l’entrée en EHPAD ou suite à une période de transition réalisée avec un court séjour.
        </p>
        <p>
            La résidence médicalisée se substitue alors à son domicile pour devenir son chez soi,
            et apporte au proche dépendant un accompagnement personnalisé, en prenant en considération
            ses facultés physiques et motrices, sa situation, ses besoins de santé et ses désirs.
        </p>
        <p>
            Les résident d’EHPAD bénéficient ainsi :
            <ul>
                <li>du suivi médical personnalisé de l’équipe soignante qualifiée,</li>
                <li>d’un accompagnement dans les actes de la vie quotidienne,</li>
                <li>de l’hébergement en chambre double ou individuelle personnalisée,</li>
                <li>d’une cuisine faite maison à partir de produits de qualité,</li>
                <li>d'activités physiques adaptées et d’animations variées,</li>
                <li>de l’approche thérapeutique non-médicamenteuse (TNM),</li>
                <li>
                    et de services à la demande autour du quotidien (bien-être et beauté,
                    blanchisserie, kit essentiel de toilette).
                </li>
            </ul>
        </p>
        <p>
            Chaque pathologie du grand âge trouve une réponse de services et d’accompagnement adaptée au sein des EHPAD.
            Différents pôles et unités ont été pensés pour les aînés souffrant d’une maladie dégénérative :
            <ul>
                <li>l’unité de vie Alzheimer, aussi appelée l’Unité Protégée pour Personnes Dépendantes,</li>
                <li>le Pôle d’Accompagnement et de Soins adaptés (PASA),</li>
                <li>l’Unité d'Hébergement Renforcée,</li>
                <li>l’Unité Parkinson.</li>
            </ul>
        </p>
        <p>
            Ces unités d’accueil sont spécialement conçues pour prendre soin des résidents selon leurs besoins
            particuliers, tout en leur permettant des interactions sociales avec les autres résidents de la
            maison de retraite. Ils sont ainsi en sécurité, dans un environnement sécurisé et adapté, avec
            une présence 24h/24 des équipes médicales, et peuvent en même temps profiter des activités et des
            animations proposées.
        </p>
    </div>
{% endblock %}
