{% extends "core/base.html" %}

{% block title %}Prestations{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}
    <div>
        <h1>Court séjour</h1>
        <h2>Qu'est-ce que le court séjour en maison de retraite ? Qui est concerné ?</h2>
        <p>
            Absence ponctuelle ou besoin de répit de l’aidant ? Sortie d’hôpital ou de rééducation ?
            Période de fatigue ou de fragilité à domicile ? Séjour de découverte ou de transition en
            attendant d'adapter son propre domicile ?
        </p>
        <p>
            Le court séjour en maison de retraite médicalisée (EHPAD), est un séjour d’une durée déterminée,
            de plusieurs jours à quelques mois pour un besoin ponctuel ou répété.
            Le court séjour en EHPAD s’adresse aux personnes âgées qu’elles soient en perte
            d’autonomie ou dépendantes et permet de prendre le relais des aidants.
        </p>
        <h2>Un accompagnement personnalisé tout au long du court séjour en maison de retraite</h2>
        <p>
            De quelques jours à plusieurs mois, en relais du domicile, nous mettons à profit toute notre expertise et savoir-faire :
            <ul>
                <li>
                    Faciliter l’accueil, en apportant une solution adaptée en moins de 24h* et en organisant
                    si besoin en amont, une visite à domicile pour préparer un accueil personnalisé
                    au sein de la maison de retraite.
                </li>
                <li>
                    Partager le quotidien dans une ambiance conviviale et chaleureuse en participant
                    à des activités socio-culturelles variées dans le respect du rythme de vie et des envies de chacun.
                </li>
                <li>
                    Accompagner dans les gestes du quotidien tout en assurant la continuité de la prise
                    en soin grâce à une équipe pluridisciplinaire et bienveillante, à l’écoute des aînés.
                </li>
                <li>
                    Communiquer régulièrement auprès des familles pour leur donner des nouvelles de leur proche.
                </li>
                <li>
                    Préparer le retour à domicile, grâce à des conseils pratiques des équipes de soins
                    qui restent à votre écoute même après le séjour.
                </li>
            </ul>
    </div>
{% endblock %}
